	{% extends 'base.html' %}

{% block head %}
	<title>Profile Register</title>
{% endblock %}

{% block body %}
<div class="content">
	<h1 class="text-center"> Register User </h1>
	
	<form action="/add" method="POST" class="row g-3">
		<div class="col-md-4">
	     	   	<label for="name" class="form-label">First Name</label>
	    		<input type="text" class="form-control" id="name" name="name" placeholder="Surya" required>
		</div>
		<div class="col-md-4">
	    		<label for="medicine" class="form-label">Medicine Name</label>
	    		<input type="text" class="form-control" id="medicine" name="medicine" placeholder="Dolo 650" required>
	 	</div>
	 	<div class="col-md-4">
	    		<label for="telegram" class="form-label">Telegram Id</label>
		    	<div class="input-group">
			        <span class="input-group-text" id="inputGroupPrepend2">@</span>
		        	<input type="text" class="form-control" id="telegram"  aria-describedby="inputGroupPrepend2" placeholder="@Surya" name="telegram" required>
	       	       	</div>
		</div>
	  	<div class="col-md-6">
			<label for="time" class="form-label">Time</label>
	    		<input type="time" class="form-control" id="time" name="time" required>
	  	</div>
	  	<div class="col-12">
	    		<div class="form-check">
      				<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      				<label class="form-check-label" for="invalidCheck2">
        			Agree to terms and conditions
	      			</label>
    			</div>
  		</div>
	  	<div class="col-12">
    			<button class="btn btn-primary" type="submit">Submit form</button>
  		</div>
	</form>
<div>
{% endblock %}
